@{
    ViewBag.Title = "Index";
}
<br />
<h2>Profile</h2>
<br />
<div>
    <h4>Super Admin</h4>
</div>
<table class="table">
    <tr>
        <th>
            <h5>Name</h5>
        </th>
        <th>
            <h6>Joanne Fedosov</h6>
        </th>     
    </tr>
    <tr>
        <th>
            <h5>Title</h5>
        </th>
        <th>
            <h6>Super Administrator</h6>
        </th>
    </tr>
    <tr>
        <th>
            <h5>Mobile No.</h5>
        </th>
        <th>
            <h6>(123) 123-1234</h6>
        </th>
    </tr>
    <tr>
        <th>
            <h5>Work No.</h5>
        </th>
        <th>
            <h6>(123) 123-1234</h6>
        </th>
    </tr>
    <tr>
        <th>
            <h5>Email</h5>
        </th>
        <th>
            <h6>superadmin1@outlook.com</h6>
        </th>
    </tr>
    <tr>
        <th>
            <h5>Password</h5>
        </th>
        <th>
            <h6><a href="#">Change your password</a></h6>
        </th>
    </tr>
</table>
<input type="button" class="btn btn-default" value="Edit" />
<br /><br />
<h4>Email Preferences</h4>
<br />
<input type="checkbox" style="margin-left:30px"> Receive email updates for overdue inspections<br />
<input type="checkbox" style="margin-left:30px"> Receive email updates for overdue corrective actions<br />
<input type="checkbox" style="margin-left:30px"> Receive email updates for upcoming inspections<br />
<br /><input type="button" class="btn btn-default" value="Save" />

